# Aplicación
/app/Config/core.php
/app/Config/database.php
/app/tmp

# Composer
/app/Plugin/CakePdf
/app/Plugin/Search
/vendor

# Editores
/*.sublime-project
/*.sublime-workspace
/.idea
/.vscode
/*.code-*

# Makefile
/build

# Dotenv
.env
