# Aplicación
/app/Config/database.php
/app/tmp

# Composer
/composer.lock
/app/Plugin/CakePdf
/app/Plugin/DebugKit
/app/Plugin/Localized
/app/Plugin/Search
/vendor

# Editores
*.sublime-*

# Phing
/build/package
