/*!
 * Inicio de sesión
 *
 * Sistema de Registro de Asistencia y Temas
 *
 * (c) Universidad Tecnológica Nacional - Facultad Regional Delta
 *
 * Este archivo está sujeto a los términos y condiciones descritos
 * en el archivo licencia.txt que acompaña a este software.
 *
 * @author Jorge Alberto Cricelli <jalberto.cr@live.com>
 */

.breadcrumb,
.page-header {
	display: none
}

#content {
	background: url('../img/app/login.jpg') no-repeat;
	padding: 0
}

#content form {
	float: right;
	position: relative;
	right: 60px;
	top: 268px
}

#content form label {
	color: #fff;
	font-size: 14px;
	font-weight: bold
}

#content form .control-group {
	margin-bottom: 20px
}

#content form label span.required {
	display: none
}

#content form input {
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
	font-family: 'Open Sans';
	font-size: 24px;
	height: auto;
	width: 250px
}

#content form button {
	float: right;
	font-size: 13px;
	font-weight: bold;
	position: relative
}
