/*!
 * Notificación
 *
 * Sistema de Registro de Asistenca y Temas
 *
 * (c) Universidad Tecnológica Nacional - Facultad Regional Delta
 *
 * Este archivo está sujeto a los términos y condiciones descritos
 * en el archivo licencia.txt que acompaña a este software.
 *
 * @author Jorge Alberto Cricelli <jalberto.cr@live.com>
 */

#notifications {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 55536
}

#notifications div {
	color: #fff;
	font-size: 1.15em;
	padding: 14px 0 15px;
	text-align: center;
	z-index: 65536
}

#notifications div button {
	color: #fff;
	filter: alpha(opacity=100);
	left: -13px;
	opacity: 1;
	position: relative;
	top: -2px
}

.notify-error {
	background-color: #de4343;
	border-bottom: 1px solid #c43d3d
}

.notify-info {
	background-color: #4ea5cd;
	border-bottom: 1px solid #3b8eb5
}

.notify-success {
	background-color: #61b832;
	border-bottom: 1px solid #55a12c
}

.notify-warning {
	background-color: #eaaf51;
	border-bottom: 1px solid #d99a36
}

.noscript {
	background: #eeecdf;
	border-top: 2px solid #e6e1cf;
	bottom: 0;
	color: #8b0000;
	font-size: 1.3em;
	padding: 10px 0;
	position: fixed;
	text-align: center;
	width: 100%;
	z-index: 99999
}
