/*!
 * Registros
 *
 * Sistema de Registro de Asistencia y Temas
 *
 * (c) Universidad Tecnológica Nacional - Facultad Regional Delta
 *
 * Este archivo está sujeto a los términos y condiciones descritos
 * en el archivo licencia.txt que acompaña a este software.
 *
 * @author Jorge Alberto Cricelli <jalberto.cr@live.com>
 */

#view .table thead th:nth-child(3) {
	width: 175px
}

#view .table thead th:nth-child(4),
#view .table thead th:nth-child(5),
#view .table thead th:nth-child(6) {
	width: 75px
}

#view .table thead th:nth-child(5),
#view .table thead th:nth-child(6),
#view .table tbody td:nth-child(5),
#view .table tbody td:nth-child(6) {
	text-align: right
}

#view .table thead th:nth-child(7) {
	text-align: center
}
