/*!
 * Usuarios
 *
 * Sistema de Registro de Asistencia y Temas
 *
 * (c) Universidad Tecnológica Nacional - Facultad Regional Delta
 *
 * Este archivo está sujeto a los términos y condiciones descritos
 * en el archivo licencia.txt que acompaña a este software.
 *
 * @author Jorge Alberto Cricelli <jalberto.cr@live.com>
 */

table.usuarios thead tr th:nth-child(2),
table.usuarios thead tr th:nth-child(5),
table.usuarios thead tr th:nth-child(6) {
	width: 85px
}

table.usuarios thead tr th:nth-child(2),
table.usuarios tbody tr td:nth-child(2) {
	text-align: center
}

input#UsuarioLegajo {
	text-align: center;
	width: 85px
}
