/*!
 * Horarios
 *
 * Sistema de Registro de Asistencia y Temas
 *
 * (c) Universidad Tecnológica Nacional - Facultad Regional Delta
 *
 * Este archivo está sujeto a los términos y condiciones descritos
 * en el archivo licencia.txt que acompaña a este software.
 *
 * @author Jorge Alberto Cricelli <jacricelli@gmail.com>
 */

#view .table thead th:nth-child(3),
#view .table thead th:nth-child(4),
#view .table thead th:nth-child(5) {
	width: 70px
}

#view .table thead th:nth-child(4),
#view .table thead th:nth-child(5),
#view .table tbody td:nth-child(4),
#view .table tbody td:nth-child(5) {
	text-align: right
}

form .time select:first-child {
	margin-right: 2px
}

form .time select:last-child {
	margin-left: 2px
}
