/*!
 * Reportes
 *
 * Sistema de Registro de Asistencia y Temas
 *
 * (c) Universidad Tecnológica Nacional - Facultad Regional Delta
 *
 * Este archivo está sujeto a los términos y condiciones descritos
 * en el archivo LICENCIA.txt que acompaña a este software.
 *
 * @author Jorge Alberto Cricelli <jacricelli@gmail.com>
 */

.report-filter {
	margin-top: 10px
}

.report-filter .control-label {
	text-align: left;
	width: 125px
}

.report-filter .controls {
	margin-left: 50px
}

.report-filter .datefield:nth-child(1) {
	margin-right: 3px;
	width: 60px
}

.report-filter .datefield:nth-child(2) {
	margin-left: 3px;
	margin-right: 3px;
	width: 115px
}

.report-filter .datefield:nth-child(3) {
	margin-left: 3px;
	width: 75px
}

.report-filter .help-inline {
	display: block
}

.datefield + .help-inline {
	margin-top: 5px
}

.datefield + .help-inline,
.reporttype + .help-inline {
	margin-left: 72px
}

.report-filter .report-filter-howto {
	float: right;
	font-size: 1em;
	position: relative;
	top: -15px;
	width: 512px
}

.report-filter .form-actions {
	margin-top: 5px;
	padding-left: 145px
}

.report-general .report-filter .form-actions {
	margin-top: 15px
}

.report-builder .report-preview tbody td {
	height: 40px
}

.report-builder .report-preview tbody .empty td {
	height: 20px;
	text-align: center
}

.report-builder .report-preview thead th:nth-child(2) {
	width: 260px
}

.report-builder .report-preview thead th:nth-child(3),
.report-builder .report-preview tbody td:nth-child(3) {
	text-align: center;
	width: 85px
}

.report-builder .report-preview thead th:nth-child(4) {
	width: 150px
}

.report-builder .report-preview thead th:nth-child(5),
.report-builder .report-preview thead th:nth-child(6),
.report-builder .report-preview thead th:nth-child(7) {
	text-align: right;
	width: 65px
}

.report-builder .report-preview tbody td:nth-child(5),
.report-builder .report-preview tbody td:nth-child(6),
.report-builder .report-preview tbody td:nth-child(7) {
	text-align: right
}

.report-general .report-preview thead th:nth-child(3),
.report-general .report-preview thead th:nth-child(4),
.report-general .report-preview thead th:nth-child(5),
.report-general .report-preview tbody td:nth-child(3),
.report-general .report-preview tbody td:nth-child(4),
.report-general .report-preview tbody td:nth-child(5) {
	text-align: right;
	width: 120px
}

.report-general .report-preview th {
	cursor: pointer
}

.report-general .arrow {
	color: blue;
	font-weight: bold;
	padding-right: 3px
}

.report-builder .report-details {
	width: 786px
}

.report-builder .report-details th,
.report-builder .report-details td {
	border: none
}

.report-builder .report-details tbody td:first-child {
	font-weight: bold;
	width: 85px
}

.report-builder .report-container .table-bordered {
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-left: 1px solid #ddd;
	border-radius: 0
}

.report-builder .report-container .table-bordered th:first-child,
.report-builder .report-container .table-bordered td:first-child {
	border-left: none
}

.report-builder .report-container .table-bordered thead:first-child tr:first-child > th:first-child,
.report-builder .report-container .table-bordered tbody:first-child tr:first-child > td:first-child,
.report-builder .report-container .table-bordered tbody:first-child tr:first-child > th:first-child {
	-moz-border-radius-topleft: 0;
	-webkit-border-top-left-radius: 0;
	border-top-left-radius: 0
}

.report-builder .report-container .table-bordered thead:last-child tr:last-child > th:first-child,
.report-builder .report-container .table-bordered tbody:last-child tr:last-child > td:first-child,
.report-builder .report-container .table-bordered tbody:last-child tr:last-child > th:first-child,
.report-builder .report-container .table-bordered tfoot:last-child tr:last-child > td:first-child,
.report-builder .report-container .table-bordered tfoot:last-child tr:last-child > th:first-child {
	-moz-border-radius-bottomleft: 0;
	-webkit-border-bottom-left-radius: 0;
	border-bottom-left-radius: 0
}

.report-builder .report-container .table-bordered thead:first-child tr:first-child > th:last-child,
.report-builder .report-container .table-bordered tbody:first-child tr:first-child > td:last-child,
.report-builder .report-container .table-bordered tbody:first-child tr:first-child > th:last-child {
	-moz-border-radius-topright: 0;
	-webkit-border-top-right-radius: 0;
	border-top-right-radius: 0
}

.report-builder .report-table tbody td {
	height: 40px
}

.report-builder .report-table tbody .empty td {
	height: 20px;
	text-align: center
}

.report-builder .report-table .row1 {
	width: 290px
}

.report-builder .report-table .row2 {
	text-align: center;
	width: 45px
}

.report-builder .report-table .row3 {
	width: 150px
}

.report-builder .report-table .row4 {
	text-align: right;
	width: 75px
}

.report-builder .report-table .row5,
.report-builder .report-table .row6 {
	text-align: right;
	width: 55px
}
